.todo{
    height: 100%;
    display: flex;
    justify-content: center;
}

.inputs{
    display: flex;
    justify-content: center;
}

.inputs input{
    margin-bottom: 15px;
    width: 85px;
    text-align: center;
}

.inputs-left{
    margin-right: 30px;
}

.mat-header-cell{
    padding: 0 35px;
}

.mat-cell{
    padding: 15px;
}

.input-table{
    width: 45px;
    text-align: center;
}

.fecha{
    text-align: center;
    width: 100%;
}

