<ngx-spinner 
bdColor = "rgba(0, 0, 0, 0.8)" 
size = "medium" 
color = "#fff" 
type = "square-jelly-box" 
[fullScreen] = "true">
<p style="color: white" > Loading... </p>
</ngx-spinner>

<div class="todo">
  <div class="contenido">
    <form [formGroup]="form">
      <div class="fecha">
        <mat-form-field appearance="fill" class="fecha">
          <mat-label>Fecha de busqueda</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fecha" (dateChange)="listar()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      
      <br>
  
      <div class="inputs mg-b15">
        <div class="inputs-left">
          <p>T. Cambio</p>
          <input type="text" class="input-form" placeholder="0.00" formControlName="tCambio" [class.error]="validar('tCambio')">
    
          <p>P. Bolsa NY</p>
          <input type="text" class="input-form" placeholder="0.00" formControlName="pBolsaNY" [class.error]="validar('pBolsaNY')">
  
          <p>P. Coco</p>
          <input type="text" class="input-form" placeholder="0.00" formControlName="pCoco" [class.error]="validar('pCoco')">
    
          <p>P. Pilado</p>
          <input type="text" class="input-form" placeholder="0.00" formControlName="pPilado" [class.error]="validar('pPilado')">
        </div>
    
        <div> 
          <p>P. Bolsa Org</p>
          <input type="text" class="input-form" placeholder="0.00" formControlName="pBolsaOrg" [class.error]="validar('pBolsaOrg')">
    
          <p>P. Segundas</p>
          <input type="text" class="input-form" placeholder="0.00" formControlName="pSegundas" [class.error]="validar('pSegundas')">
  
          <p>P. Zarandas</p>
          <input type="text" class="input-form" placeholder="0.00" formControlName="pZarandas" [class.error]="validar('pZarandas')">
    
          <p>P. Cisco</p>
          <input type="text" class="input-form" placeholder="0.00" formControlName="pCisco" [class.error]="validar('pCisco')">
        </div>
      </div>
  
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mg-b30">
  
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="Certificacion" class="columna">
          <th mat-header-cell *matHeaderCellDef> Certificacion </th>
          <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="Diferencial" class="columna">
          <th mat-header-cell *matHeaderCellDef> Diferencial </th>
          <td mat-cell *matCellDef="let element">
            <input type="text" class="input-table input-form" [(ngModel)]="element.Monto" [ngModelOptions]="{standalone: true}">
          </td>
        </ng-container>
      
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      
  
      <button class="btn-principal mg-b30" (click)="guardar()">Guardar</button>
    </form>
  </div>
</div>