.user{
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-left: 20px;
}

.todo {
  height: 100vh;
  width: 100%;
}

.container-mat {
  width: 100%;
  height: 100%;
}

.sidenav {
  background-color: var(--main-color);
  width: 269px;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
  padding: 10px 20px 10px 10px;
  margin-bottom: 25px;
}

.logo img {
  height: 60px;
  width: 60px;
}

.logo p {
  color: white;
  font-size: 14px;
}

.sidenav-item {
  display: flex;
  height: 55px;
  width: 100%;
}

.sidenav-item:hover {
  cursor: pointer;
  background: #2e3846;
}

.icon{
    width: 25px;
}

.select-item {
  height: 88%;
  background: white;
  padding: 3px;
}

.sidenav-header {
  color: white;
  padding: 20px 36px;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  margin: 0;
}

.sidenav-header p {
  padding-left: 10px;
  font-size: 14px;
}

.header {
  display: flex;
  background: var(--main-color);
  width: 100%;
  height: 65px;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  color: white;
  align-items: center;
  padding-right: 20px;
}

.header-left p {
  padding-right: 40px;
}

h1 {
  /* Asignar color desde una varibale */
  font-size: 44px;
  color: white;
}

.menu {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 40px;
  width: 40px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.salir {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.salir button {
  padding: 7px 40px;
  background: #CD0000;
  color: #fff;
  border: 0px;
  border-radius: 14px;
  cursor: pointer;
  width: 80%;
  height: 35px;
}

.router {
  height: calc(100% - 115px);
  width: calc(100% - 50px);
  padding: 25px;
}